@import '~node_modules/modern-normalize/modern-normalize.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
}

:root {
  --general-color: #fff;
  --accent-color1: rgb(212, 20, 67);
  --accent-color2: rgb(255, 165, 186);
  --product-iceCream1: rgb(255, 184, 202);
  --product-iceCream2: rgb(240, 209, 165);
  --product-iceCream3: rgb(194, 226, 151);
  --background-proccess-color: rgb(255, 245, 246);
  --color: #e1e1e1;
  --slider-comment-background: #fafafa;
  --mobile-menu-background: #e17992;
  --special-color: #000;
  --color-blackvariation1: #333333;
  --color-blackvariation2: #0000001a;
  --color-greyvariaton1: #666666;
  --color-greyvariaton2: #907e82;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 760px) {
  .container {
    width: 760px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1110px) {
  .container {
    width: 1300px;
  }
}

.section-process {
  /* Rectangle 14 */
  position: relative;
  width: 320px;
  height: 1688px;
  left: 0;
  right: 0;
  background: rgb(255, 245, 246);
}
.section-process .h3 {
  color: rgb(255, 165, 186);
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.section-process .h2 {
  color: rgb(212, 20, 67);
  font-family: "Titan One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.section-process .process-heading {
  display: block;
  position: relative;
  width: 200px;
  height: 112px;
  margin: 0 auto;
  margin-top: 125px;
}
.section-process .process-heading .h2 {
  position: absolute;
  line-height: 39px;
  text-align: center;
  font-size: 34px;
  margin: 0;
  bottom: 0;
}
.section-process .process-heading .h3 {
  position: absolute;
  top: 0;
  margin: 0;
}
.section-process .bg-home-pic4 {
  /* home-pic4 1 */
  display: block;
  position: relative;
  width: 280px;
  height: 279px;
  margin: 0 auto;
  margin-top: 26px;
  background-size: cover;
}
.section-process .text-1 {
  display: block;
  width: 220px;
  height: 79px;
  color: rgb(0, 0, 0);
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 auto;
  margin-top: 46px;
}
.section-process .text-2 {
  position: relative;
  width: 220px;
  height: 155px;
  color: rgb(144, 126, 130);
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 auto;
  margin-top: 47px;
}
.section-process .bg-image {
  display: block;
  position: absolute;
  width: 320px;
  height: 133px;
  background-image: url(../../assets/img/mobile/2x/process/milk-spot.webp);
  top: 766px;
}
.section-process .button-rectangle-1 {
  display: block;
  /* Rectangle 1 */
  position: relative;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 47px;
}
.section-process .button-rectangle-1 .button-group {
  /* Group 2 */
  position: relative;
  width: 101.04px;
  height: 44px;
  margin: 0 auto;
}
.section-process .button-rectangle-1 .button-group button {
  display: block;
  position: absolute;
  width: 83px;
  height: 44px;
  color: rgb(212, 20, 67);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border-width: 0;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  left: 0;
  padding: 0;
}
.section-process .button-rectangle-1 .button-group button p:hover {
  color: rgb(212, 20, 67);
  text-decoration: underline !important;
}
.section-process .button-rectangle-1 .button-group button p:visited {
  color: rgb(212, 20, 67);
}
.section-process .button-rectangle-1 .button-group .button-arrow {
  position: absolute;
  right: 0;
  margin-top: 18px;
}
.section-process .desc-group {
  display: block;
  position: relative;
  width: 230px;
  height: 156px;
  margin: 0 auto;
}
.section-process .desc-group.desc-group > .desc-group-h2 {
  width: 98px;
  height: 56px;
  margin: 0;
  margin-top: 16px;
  color: rgb(212, 20, 67);
  font-family: "Titan One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.section-process .desc-group.desc-group > .desc-group-text {
  color: rgb(0, 0, 0);
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: left;
  width: 230px;
  height: 36px;
  position: absolute;
  margin: 0;
  bottom: 0;
}
.section-process .desc-group#one {
  margin-top: 39px;
}
.section-process .desc-group#one .div {
  display: block;
  width: 33px;
  height: 50px;
  background-image: url(../../assets/img/mobile/1x/process/1item-process-mob-1x.webp);
}
.section-process .desc-group#two {
  margin-top: 38px;
}
.section-process .desc-group#two .div {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../../assets/img/mobile/1x/process/2item-process-mob-1x.webp);
}
.section-process .desc-group#three {
  margin-top: 38px;
}
.section-process .desc-group#three .div {
  display: block;
  width: 44px;
  height: 50px;
  background-image: url(../../assets/img/mobile/1x/process/3item-process-mob-1x.webp);
}