@import '~node_modules/modern-normalize/modern-normalize.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
}

:root {
  --general-color: #fff;
  --accent-color1: rgb(212, 20, 67);
  --accent-color2: rgb(255, 165, 186);
  --product-iceCream1: rgb(255, 184, 202);
  --product-iceCream2: rgb(240, 209, 165);
  --product-iceCream3: rgb(194, 226, 151);
  --background-proccess-color: rgb(255, 245, 246);
  --color: #e1e1e1;
  --slider-comment-background: #fafafa;
  --mobile-menu-background: #e17992;
  --special-color: #000;
  --color-blackvariation1: #333333;
  --color-blackvariation2: #0000001a;
  --color-greyvariaton1: #666666;
  --color-greyvariaton2: #907e82;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 760px) {
  .container {
    width: 760px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1110px) {
  .container {
    width: 1300px;
  }
}

.command-button {
  width: 180px;
  height: 44px;
  border-radius: 22px;
  margin-bottom: 10px;
  background-color: var(--accent-color1);
}

.command-button span {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  color: var(--general-color);
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5019607843);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 390px;
  height: 534px;
  background: var(--background-proccess-color);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 760px) {
  .modal {
    width: 643px;
    height: 532px;
  }
}
@media screen and (min-width: 1110px) {
  .modal {
    width: 898px;
    height: 521px;
  }
}

.modal-command {
  margin-top: 10px;
  margin-bottom: 15px;
}
.modal-command::after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid var(--color);
}
@media screen and (min-width: 760px) {
  .modal-command {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1110px) {
  .modal-command {
    margin-bottom: 90px;
  }
}

.wrapper-command {
  width: 290px;
  margin: 0 auto;
}
@media screen and (min-width: 760px) {
  .wrapper-command {
    width: 520px;
  }
}
@media screen and (min-width: 1110px) {
  .wrapper-command {
    width: 790px;
  }
}

.block-command {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logotype-modal {
  width: 100px;
}

.command-title {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: var(--color-blackvariation1);
}

.button {
  width: 18;
  height: 18;
  background: var(--background-proccess-color);
}

.command-close {
  width: 18px;
  height: 18px;
}

.block-list-command {
  width: 390px;
  margin: 0 auto;
}
@media screen and (min-width: 760px) {
  .block-list-command {
    margin: 0 auto;
    width: 520px;
  }
}
@media screen and (min-width: 1110px) {
  .block-list-command {
    width: 790px;
  }
}

@media screen and (min-width: 760px) {
  .list-command {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 10px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1110px) {
  .list-command {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-bottom: 110px;
  }
}

.item-command {
  display: flex;
  justify-content: center;
}
.item-command:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 760px) {
  .item-command:not(:last-child) {
    margin-bottom: 0;
  }
}

.command-default {
  display: none;
}
@media screen and (min-width: 760px) {
  .command-default {
    display: flex;
  }
}

.command-img {
  width: 35px;
  height: 35px;
  margin: 8px 8px 0px 0px;
}

.command-name {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  margin-left: -50%;
  color: var(--color-blackvariation1);
}

.command-text {
  width: 216px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-greyvariaton1);
}

.command-div {
  margin-top: 10px;
}
.command-div::before {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid var(--color);
}
@media screen and (min-width: 760px) {
  .command-div {
    margin-top: 0;
  }
}

.command-p {
  width: 180px;
  height: 20px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 186%;
  margin: 0 auto;
  margin-top: 5px;
  color: var(--color-greyvariaton2);
}
@media screen and (min-width: 1110px) {
  .command-p {
    margin-top: 10px;
  }
}

.products-subtitle {
  width: 142px;
  height: 21px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-items: center;
  margin: 121px auto 15px;
  color: var(--accent-color2);
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products-subtitle {
    width: 205px;
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .products-subtitle {
    width: 249px;
    height: 34px;
  }
}

.products-title {
  width: 200px;
  height: 36px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-items: center;
  margin: 0 auto;
  color: var(--accent-color1);
  font-family: "Titan One", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 141px;
}
@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 150px;
    width: 283px;
    height: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .products-title {
    margin-bottom: 259px;
    width: 350px;
    height: 66px;
  }
}

.products-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .products-list {
    padding: 0px 36px;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    padding: 0px 117px;
    display: flex;
    flex-direction: row;
  }
}

.products-list-item {
  position: relative;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  margin: 0 auto;
  padding-top: 161px;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .products-list-item {
    width: 329px;
    height: 525px;
  }
}

.products-list-item:not(:last-child) {
  margin-bottom: 129px;
}

@media screen and (min-width: 768px) {
  .products-list-item:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list-item:not(:first-child) {
    margin-left: 30px;
  }
}

.item1 {
  background-color: var(--product-iceCream1);
  position: relative;
}

.item2 {
  background-color: var(--product-iceCream2);
  position: relative;
}

.item3 {
  background-color: var(--product-iceCream3);
  position: relative;
}

.iceCream1 {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  .iceCream1 {
    top: -40%;
  }
}

.iceCream2 {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  .iceCream2 {
    top: -40%;
  }
}

.iceCream3 {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  .iceCream3 {
    top: -40%;
  }
}

.products-list-item-title {
  width: 174px;
  height: 23px;
  margin: 0 auto;
  color: var(--general-color);
  font-family: "Titan One", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products-list-item-title {
    width: 199px;
    height: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list-item-title {
    width: 209px;
    height: 34px;
  }
}

.products-list-item-text {
  width: 200px;
  height: 124px;
  color: var(--general-color);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 152%;
  letter-spacing: 4%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .products-list-item-text {
    width: 198px;
    height: 124px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list-item-text {
    width: 241px;
    height: 106px;
    margin-top: 32px;
  }
}

.products-list-item-button-svg {
  fill: var(--accent-color1);
  width: 20px;
  height: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products-list-item-button {
  border-radius: 50%;
  color: var(--general-color);
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  position: relative;
  bottom: -41px;
}
@media screen and (min-width: 1200px) {
  .products-list-item-button {
    bottom: -71px;
  }
}

.products-list-item-subtitle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: var(--general-color);
  font-size: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .products-list-item-subtitle {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list-item-subtitle {
    font-size: 70px;
  }
}

.products-list-item-subtitle-container {
  width: 40px;
  height: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
}

.slider {
  padding: 80px 0;
}

.swiper {
  justify-content: center;
  margin: 0 auto;
  z-index: 0 !important;
}
.swiper::before {
  content: "";
  display: block;
  width: 270px;
  height: 122px;
  background-image: url(/assets/img/mobile/1x/img-section/img-section-mob-1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .swiper::before {
    background-image: url(/assets/img/mobile/2x/img-section/img-section-mob-2x.webp);
  }
}
@media screen and (min-width: 760px) {
  .swiper::before {
    width: 700px;
    height: 264px;
    background-image: url(/assets/img/tablet/1x/img-section/img-section-tab-1x.webp);
    margin-bottom: 121px;
  }
}
@media screen and (min-width: 760px) and (min-device-pixel-ratio: 2), screen and (min-width: 760px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 760px) and (min-resolution: 192dpi), screen and (min-width: 760px) and (min-resolution: 2dppx) {
  .swiper::before {
    background-image: url(/assets/img/tablet/2x/img-section/img-section-tab-2x.webp);
  }
}
@media screen and (min-width: 1110px) {
  .swiper::before {
    width: 1100px;
    height: 430px;
    margin: 0 auto;
    margin-bottom: 123px;
    background-image: url(/assets/img/desktop/1x/img-section/img-section-comp-1x.webp);
  }
}
@media screen and (min-width: 1110px) and (min-device-pixel-ratio: 2), screen and (min-width: 1110px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1110px) and (min-resolution: 192dpi), screen and (min-width: 1110px) and (min-resolution: 2dppx) {
  .swiper::before {
    background-image: url(/assets/img/desktop/2x/img-section/img-section-comp-2x.webp);
  }
}

.swiper-button-prev:after {
  display: none;
}

.swiper-button-next:after {
  display: none;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(/assets/svg/svg-before-after/home-pagination.svg);
  background-repeat: no-repeat;
  width: 12.8px;
  height: 12px;
  border-radius: 0;
  background-position: top;
}

.swiper-scrollbar {
  display: none;
}

.img-slide {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 760px) {
  .img-slide {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 1110px) {
  .img-slide {
    margin-bottom: 15px;
  }
}

.card-icecream {
  padding: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: var(--slider-comment-background);
}
@media screen and (min-width: 760px) {
  .card-icecream {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1110px) {
  .card-icecream {
    width: 1100px;
    margin-bottom: 15px;
  }
}

.card-text {
  width: 157px;
  height: 239px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 255%;
  text-align: center;
  color: var(--special-color);
}
.card-text::before {
  content: "";
  display: block;
  width: 54px;
  height: 40px;
  margin-bottom: -24px;
  margin-left: 6px;
  background-image: url(/assets/svg/svg-before-after/doubledot-slider.svg);
  background-repeat: no-repeat;
}
@media screen and (min-width: 760px) {
  .card-text::before {
    margin-left: 0;
  }
}
@media screen and (min-width: 760px) {
  .card-text {
    width: 440px;
    height: 98px;
    font-size: 14px;
    line-height: 216%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1110px) {
  .card-text {
    width: 750px;
    height: 68px;
    font-size: 16px;
    line-height: 186%;
  }
}

.carousel-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 186%;
  text-align: center;
  margin-bottom: 40px;
  color: var(--special-color);
}

.card-divider {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
@media screen and (min-width: 760px) {
  .card-divider {
    margin-bottom: 14px;
  }
}

.divider-item {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--accent-color1);
}
.divider-item:not(:last-child) {
  margin-right: 10px;
}

footer {
  padding-bottom: 25px;
  background-color: rgb(255, 245, 246);
  color: #907e82;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-section {
  text-align: left;
}

.footer-heading {
  color: #ffa5ba;
  font-family: "Titan One", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: left;
}

.footerHeading-span {
  color: #d41443;
  font-family: "Titan One", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2.88px;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: left;
  display: block;
}

.mediaList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.mediaDiv {
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
}

.contact-section {
  width: 100%;
  text-align: center;
}

.linkSvg {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--accent-color2);
  display: block;
  padding: 8px;
  margin: 0 auto;
}

.mediaSvg {
  fill: #fff;
}

.textTel {
  display: inline; /* Keep the text in line */
  margin: 0; /* Remove default margins */
  font-weight: 700;
  line-height: 186%;
}

.linkTel {
  color: var(--accent-color1);
  text-decoration: none;
}

.copyright {
  font-size: 14px;
  font-weight: 700;
  line-height: 26.04px;
  letter-spacing: 0.28px;
  word-wrap: break-word;
}

.divider {
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Media queries */
@media (max-width: 320px) {
  .footer-heading {
    font-size: 18px;
    letter-spacing: 1.36px;
  }
  .mediaItem {
    width: 24px;
    height: 24px;
  }
  .footerHeading-span {
    font-size: 34px;
    letter-spacing: 1.36px;
  }
  .mediaSvg {
    width: 16px;
    height: 16px;
  }
  .textTel {
    font-size: 12px;
  }
  .linkTel {
    font-size: 12px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .footer-heading {
    font-size: 18px;
    letter-spacing: 1.36px;
  }
  .footerHeading-span {
    font-size: 34px;
    letter-spacing: 1.36px;
  }
  .mediaItem {
    width: 28px;
    height: 28px;
  }
  .mediaSvg {
    width: 20px;
    height: 20px;
  }
  .textTel {
    font-size: 14px;
  }
  .linkTel {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .mediaDiv .divider {
    width: 100%; /* Fixed width on larger screens */
    margin-left: auto;
    margin-right: auto;
  }
  .footer-heading {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .footerHeading-span {
    font-size: 58px;
    letter-spacing: 3.48px;
  }
  .mediaItem {
    width: 32px;
    height: 32px;
  }
  .mediaSvg {
    width: 24px;
    height: 24px;
  }
  .textTel {
    font-size: 16px;
  }
  .linkTel {
    font-size: 16px;
  }
}