:root {
  --general-color: #fff;
  --accent-color1: rgb(212, 20, 67);
  --accent-color2: rgb(255, 165, 186);
  --product-iceCream1: rgb(255, 184, 202);
  --product-iceCream2: rgb(240, 209, 165);
  --product-iceCream3: rgb(194, 226, 151);
  --background-proccess-color: rgb(255, 245, 246);
  --color: #e1e1e1;
  --slider-comment-background: #fafafa;
  --mobile-menu-background: #e17992;
  --special-color: #000;
  --color-blackvariation1: #333333;
  --color-blackvariation2: #0000001a;
  --color-greyvariaton1: #666666;
  --color-greyvariaton2: #907e82;
  --background-hero: #ffb8ca;
}
