@import './common';

@import './base/reset';
@import './base/root';
@import './base/visually-hidden';
@import './base/container';

@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/process';
@import './components/img-section';
@import './components/slider-section';
@import './components/comments';
@import './components/footer';
