<footer class="All">
    <!-- Content Section -->
    <div class="container">
        <h2 class="top">Homemade Ice Cream made</h2>
        <p class="bottom">With </p>
        <p class="bottom"> Passion</p>
        <!-- Social Media Icons -->
        <ul class="social-media">
          <li><a href="https://github.com/yourusername" class="icon-github">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-github"></use>
              
            </svg>
          </a></li>
          <li><a href="https://t.me/yourusername" class="icon-telegram">
            <svg viewBox="0 0 41 32">
              <use xlink:href="#icon-telegram"></use>
            </svg>
          </a></li>
          <li><a href="https://www.facebook.com/yourusername" class="icon-facebook">
            <svg viewBox="0 0 32 32">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a></li>
        </ul>
        <p>Feel free to contact
            +61 (0) 383 766 284
        </p>
    </div>

    <!-- Footer Section -->
    © 2019 - IceCream. All Rights Reserved.
</footer>