<footer>
  <!-- Content Section -->
  <div class="container">
    <div class="footer-content">
      <div class="text-section">
        <h3 class="footer-heading">homemade ice cream made</h3>
        <p class="footerHeading-span">with passion</p>
        <!-- Social Media Icons -->
        <div class="mediaDiv">
          <ul class="mediaList">
            <li class="mediaItem">
              <a href="" class="linkSvg">
                <svg class="mediaSvg">
                  <use
                    href="../assets/svg/svg-in-one-file/symbol-defs.svg#icon-github"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="mediaItem">
              <a href="" class="linkSvg">
                <svg class="mediaSvg">
                  <use
                    href="../assets/svg/svg-in-one-file/symbol-defs.svg#icon-telegram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="mediaItem">
              <a href="" class="linkSvg">
                <svg class="mediaSvg">
                  <use
                    href="../assets/svg/svg-in-one-file/symbol-defs.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
          <div class="contact-section">
      <div class="divider"></div>
      <p class="textTel">
        Feel free to contact
        <a class="linkTel" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </iv>
  </div>

  <!-- Footer Section -->
  <p class="copyright">© 2019 - IceCream. All Rights Reserved.</p>
</footer>
