<footer class="All">
    <!-- Content Section -->
    <div class="container">
        <h2 class="top">Homemade Ice Cream </h2>
        <p class="bottom">Made With Passion</p>

        <!-- Social Media Icons -->
        <ul class="social-media">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-instagram"></a></li>
        </ul>
        <p>Feel free to contact
            +61 (0) 383 766 284
        </p>
    </div>

    <!-- Footer Section -->

    © 2019 - IceCream. All Rights Reserved.
</footer>