<header class="header">
  <div class="container">
    <div class="header-block">
      <a href="">
        <picture>
          <source
            srcset="
              /assets/img/mobile/1x/header/logo-mob-1x.webp 1x,
              /assets/img/mobile/2x/header/logo-mob-2x.webp 2x"
            media="(min-width: 320px)"
          >
          <source
            srcset="
              /assets/img/tablet/1x/header/logo-tab-1x.webp 1x,
              /assets/img/tablet/2x/header/logo-tab-2x.webp 2x"
            media="(min-width: 760px)"
          />
          <source
            srcset="/assets/img/desktop/1x/header/logo-comp-1x.webp 1x,
            /assets/img/desktop/2x/header/logo-comp-2x.webp 2x"
            media="(min-width: 1110px)"
          />
          <img
            class="header-logotype"
            src="/assets/img/mobile/1x/header/logo-mob-1x.webp"
            alt="logotype-icecream"
            aria-label="logotype-icecream"
          />
        </picture>
      </a>
      <nav class="navigation">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a class="item-element" href="">Home</a>
          </li>
          <li class="navigation-item">
            <a class="item-element" href="">About us</a>
          </li>
          <li class="navigation-item">
            <a class="item-element" href="">How it’s made?</a>
          </li>
          <li class="navigation-item">
            <a class="item-element" href="">Our products</a>
          </li>
          <li class="navigation-item">
            <a class="item-element" href="">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="burger-block">
        <button class="mob-menu__button--open">
          <svg class="burger-open" aria-label="button-open-burger-menu">
            <use
              href="/assets/svg/svg-in-one-file/symbol-defs.svg#icon-burger-menu"
            ></use>
          </svg>
        </button>
        <button class="button-now">
          <span class="span-now">Buy now ></span>
        </button>
      </div>
    </div>
  </div>
</header>
