<section class="hero">
  <div class="container block-content">
    <div>
    <h1 class="hero-title">
      ice cream made with <span class="hero-span">passion<span>
    </h1>
    <div class="hero-buttons">
      <button class="hero-button-products">
        <span>Products</span>
      </button>
      <button class="hero-button-made">
        <span>How it’s made?</span>
      </button>
    </div>
    <div class="block-text">
      <div class="block-img">
        <picture>
          <source
            srcset="
              /assets/img/tablet/1x/hero/canMilk-tab-1x.webp 1x,
              /assets/img/tablet/2x/hero/canMilk-tab-2x.webp 2x
            "
            media="(min-width: 760px)"
          />
          <source
            srcset="
              /assets/img/desktop/1x/hero/canMilk-comp-1x.webp 1x,
              /assets/img/desktop/2x/hero/canMilk-comp-2x.webp 2x
            "
            media="(min-width: 1110px)"
          />
          <img
            src="/assets/img/tablet/1x/hero/canMilk-tab-1x.webp"
            alt="milk-img"
          />
        </picture>
      </div>
      <div class="block-hero-inform">
        <p class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="text-button">
          <svg class="svg-hero-right">
            <use href="/assets/svg/svg-in-one-file/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
</div>
<div class="block-number">
    <ul class="list-number">
      <li class="item-number">
        <h2 class="title-number">16</h2>
        <p class="text-number">cafes</p>
      </li>
      <li class="item-number">
        <h2 class="title-number">23</h2>
        <p class="text-number">food trucks</p>
      </li>
    </ul>
    <picture>
      <source srcset="/assets/img/tablet/1x/hero/girl-tab-1x.webp 1x, /assets/img/tablet/2x/hero/girl-tab-2x.webp 2x" media="(min-width: 760px)">
      <source srcset="/assets/img/desktop/1x/hero/girl-comp-1x.webp 1x, /assets/img/desktop/1x/hero/girl-comp-1x.webp 2x" media="(min-width: 1110px)">
      <img src="/assets/img/tablet/1x/hero/girl-tab-1x.webp" alt="girl-img">
    </picture>
</div>
  </div>
</section>
