<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      ice cream made with <span class="hero-span">passion</span>
    </h1>
    <div class="hero-buttons">
      <button class="hero-button-products">
        <span>Products</span>
      </button>
      <button class="hero-button-made">
        <span>How it’s made?</span>
      </button>
    </div>
    <div class="block-text">
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="text-button"></button>
    </div>
    <ul class="list-number">
      <li class="item-number">
        <h2 class="title-number">16</h2>
        <p class="text-number">cafes</p>
      </li>
      <li class="item-number">
        <h2 class="title-number">23</h2>
        <p class="text-number">food trucks</p>
      </li>
    </ul>
  </div>
</section>