<div class="mob-menu visually-hidden">
    <button class="mob-menu__button--close">
    <svg class="mobile-menu-close">
        <use href="./"></use>
    </svg>
    </button>
    <button class="-button-mobile-menu-buynow">
    <p class="button-mobile-menu-text">Buy now</p>
    <!-- <svg class="mobile-menu-arrow">
        <use href=""></use>
    </svg> -->
    </button>
<ul class="mob-menu-list">
    <li class="mobile-menu-list-item"><a href="" class="mobile-menu-list-item-link">Home</a></li>
    <li class="mobile-menu-list-item"><a href="" class="mobile-menu-list-item-link">About us</a></li>
    <li class="mobile-menu-list-item"><a href="" class="mobile-menu-list-item-link">How it’s made?</a></li>
    <li class="mobile-menu-list-item"><a href="" class="mobile-menu-list-item-link">Our products</a></li>
    <li class="mobile-menu-list-item"><a href="" class="mobile-menu-list-item-link">Contact</a></li>
</ul>
</div>