<div class="mob-menu is-hidden">
    <button class="mob-menu__button--close">
    <svg class="mobile-menu-close">
        <use href="./assets/imgs/sprite.svg#close"></use>
    </svg>
    </button>
    <button class="-button-mobile-menu-buynow">
    <p class="button-mobile-menu-text">Buy now</p>
    <!-- <svg class="mobile-menu-arrow">
        <use href=""></use>
    </svg> -->
    </button>
<ul class="mob-menu">
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link">Home</a></li>
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link">About us</a></li>
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link">How it’s made?</a></li>
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link">Our products</a></li>
    <li class="mobile-menu-item"><a href="" class="mobile-menu-link">Contact</a></li>
</ul>
</div>