<div class="mob-menu is-hidden">
  <button class="mob-menu__button--close" aria-label="button-close">
    <svg class="mobile-menu-close">
      <use
        href="/assets/svg/svg-in-one-file/symbol-defs.svg#icon-close-burgermenu"
      ></use>
    </svg>
  </button>
  <div class="block-button-menu">
    <button class="button-mobile-menu-buynow">
      <span class="button-mobile-menu-text">Buy now ></span>
    </button>
  </div>
  <ul class="mob-menu-list">
    <li class="mobile-menu-list-item">
      <a href="" class="mobile-menu-list-item-link">Home</a>
    </li>
    <li class="mobile-menu-list-item">
      <a href="" class="mobile-menu-list-item-link">About us</a>
    </li>
    <li class="mobile-menu-list-item">
      <a href="" class="mobile-menu-list-item-link">How it’s made?</a>
    </li>
    <li class="mobile-menu-list-item">
      <a href="" class="mobile-menu-list-item-link">Our products</a>
    </li>
    <li class="mobile-menu-list-item link-element">
      <a href="" class="mobile-menu-list-item-link">Contact</a>
    </li>
  </ul>
</div>
