<section class="process">
  <div class="container">
    <h1 class="title-process">tradition and love</h1>
    <h2 class="title-process title-made">how it’s made?</h2>
    <div class="block-process">
      <picture>
        <source
          srcset="
            /assets/img/desktop/1x/process/cow-comp-1x.webp 1x,
            /assets/img/desktop/2x/process/cow-comp-2x.webp 2x
          "
          media="(min-width: 1110px)"
        />
        <source
          srcset="
            /assets/img/tablet/1x/process/cow-tab-1x.webp 1x,
            /assets/img/tablet/2x/process/cow-tab-2x.webp 2x
          "
          media="(min-width: 760px)"
        />
        <source
          srcset="
            /assets/img/mobile/1x/process/cow-mob-1x.webp 1x,
            /assets/img/mobile/2x/process/cow.webp        2x
          "
          media="(min-width: 0px)"
        />
        <img
          class="img-cow"
          src="/assets/img/mobile/2x/process/cow.webp"
          alt="cow-milk"
        />
      </picture>
      <div>
        <p class="text-tradition">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="tradition-information">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="tradition-information text-trad-inform">
          Aliquam erat volutpat. Aenean 
          accumsan.
        </p>
        <button class="button-tradition">
          <span class="tradition-span">Read more ></span>
        </button>
      </div>
    </div>
    <ul class="list-tradition">
      <li class="item-tradition">
        <h2 class="numder-tradition item-one">721</h2>
        <p class="tradition-elements">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="item-tradition item-two">
        <h2 class="numder-tradition">16kg</h2>
        <p class="tradition-elements">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="item-tradition">
        <h2 class="numder-tradition item-three">84</h2>
        <p class="tradition-elements">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
