<section class="products">
    <h2 class="products-title">100% natural</h2>
    <h3 class="products-subtitle">PRODUCTS</h3>
    <ul class="products-list">
        <li class="products-list-item item1">
            <picture>
            <source srcset="   
            /assets/img/desktop/1x/products/iceCream1-comp-1x.webp 1x,
            /assets/img/desktop/2x/products/iceCream1-comp-2x.webp 2x
            "
            media="(min-with:1200px)"
            >
            <source srcset="
            /assets/img/tablet/1x/products/iceCream1-tab-1x.webp 1x,
            /assets/img/tablet/2x/products/iceCream1-tab-2x.webp 2x
            " 
            media="(min-with:768px)"
            >
            <source srcset="
            /assets/img/mobile/1x/products/iceCream1-mob-1x.webp 1x,
            /assets/img/mobile/2x/products/iceCream1-mob-2x.webp 2x
            " 
            media="(min-with:0px)"
            >
            <img class="iceCream1" src="/assets/img/mobile/1x/products/iceCream1-mob-1x.webp" alt="">
            </picture>
            <h4 class="products-list-item-title">ICE CREAM</h4>
            <div class="products-list-item-subtitle-container">
            <p class="products-list-item-subtitle">...</p>
        </div>
            <p class="products-list-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button class="products-list-item-button">
                <svg class="products-list-item-button-svg">
            <use href="/assets/svg/svg-in-one-file/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
            </button>
        </li>
        <li class="products-list-item item2">
            <picture>
                <source srcset="
                /assets/img/desktop/1x/products/iceCream2-comp-1x.webp 1x,
                /assets/img/desktop/2x/products/iceCream2-comp-2x.webp 2x
                " 
                media="(min-with:1200px)"
                >
                <source srcset="
                /assets/img/tablet/1x/products/iceCream2-tab-1x.webp 1x,
                /assets/img/tablet/2x/products/iceCream2-tab-2x.webp 2x
                "
                media="(min-with:768px)"
                >
                <source srcset="
                /assets/img/mobile/1x/products/iceCream2-mob-1x.webp 1x,
                /assets/img/mobile/2x/products/iceCream2-mob-2x.webp 2x
                "
                media="(min-with:0px)"
                >
                <img class="iceCream2" src="/assets/img/mobile/1x/products/iceCream2-mob-1x.webp" alt="">
                </picture>
            <h4 class="products-list-item-title">ICE COFFEE</h4>
            <div class="products-list-item-subtitle-container">
                <p class="products-list-item-subtitle">...</p>
            </div>
            <p class="products-list-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button class="products-list-item-button">
                <svg class="products-list-item-button-svg" >
            <use href="../assets/svg/svg-in-one-file/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
            </button>
        </li>
        <li class="products-list-item item3 last-child">
            <picture>
                <source srcset="
                /assets/img/desktop/1x/products/iceCream3-comp-1x.webp 1x,
                /assets/img/desktop/2x/products/iceCream3-comp-2x.webp 2x
                "
                media="(min-with:1200px)"
                >
                <source srcset="
                /assets/img/tablet/1x/products/iceCream3-tab-1x.webp 1x,
                /assets/img/tablet/2x/products/iceCream3-tab-2x.webp 2x
                "
                media="(min-with:768px)"
                >
                <source srcset="
                /assets/img/mobile/1x/products/iceCream3-mob-1x.webp 1x,
                /assets/img/mobile/2x/products/iceCream3-mob-2x.webp 2x
                "
                media="(min-with:0px)"
                >
                <img class="iceCream3" src="/assets/img/mobile/1x/products/iceCream3-mob-1x.webp" alt="">
                </picture>

                
            <h4 class="products-list-item-title">MILKSHAKES</h4>
            <div class="products-list-item-subtitle-container">
                <p class="products-list-item-subtitle">...</p>
            </div>
            <p class="products-list-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <button class="products-list-item-button">
                <svg class="products-list-item-button-svg">
            <use href="/assets/svg/svg-in-one-file/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
            </button>
        </li>
    </ul>
</section>
