<section class="products">
<h1 class="products-h1">100% natural</h1>
<h2 class="products-h2">PRODUCTS</h2>
<ul class="products-list">
<li class="products-list-item">
    <!-- <source srcset="">
    <source srcset="">
    <source srcset=""> -->
    <h3 class="products-list-item-h3">ICE CREAM</h3>
    <p class="products-list-item-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet doloribus voluptates mollitia aliquid labore odio sit adipisci, aliquam tempore natus error. Deserunt similique sit quam esse, dolorum harum provident. Aut.</p>
    <button class="products-list-item-button">
        <!-- <svg>
            <use href=""></use>
        </svg> -->
    </button>
</li>
<li class="products-list-item">
    <!-- <source srcset="">
    <source srcset="">
    <source srcset=""> -->
    <h3 class="products-list-item-h3">ICE COFFEE</h3>
    <p class="products-list-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusamus quasi reiciendis possimus vel aspernatur neque inventore consectetur adipisci! Nemo dolorum explicabo minus quos quisquam consectetur animi culpa tempore harum.</p>
    <button class="products-list-item-button">
        <!-- <svg>
            <use href=""></use>
        </svg> -->
    </button>
</li>
<li class="products-list-item">
    <!-- <source srcset="">
    <source srcset="">
    <source srcset=""> -->
    <h3 class="products-list-item-h3">MILKSHAKES</h3>
    <p class="products-list-item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis consequuntur est maiores reiciendis velit dolor fugiat eligendi sed neque expedita quaerat laudantium, iste aliquid quia voluptates tempora cupiditate. Ea.</p>
    <button class="products-list-item-button">
        <!-- <svg>
            <use href=""></use>
        </svg> -->
    </button>
</li>
</ul>
</section>
