<section class="products">
    <h2 class="products-title">100% natural</h2>
    <h3 class="products-subtitle">PRODUCTS</h3>
    <ul class="products-list">
        <li class="products-list-item">
            <!-- <picture>
            <source srcset="   
            /assets/img/mobile/1x/products/iceCream1-mob-1x.webp
            "
            >
            <source srcset="" 
            >
            <img src="/assets/img/desktop/1x/" alt="">
            </picture> -->
            <h4 class="products-list-item-title">ICE CREAM</h4>
            <p class="products-list-item-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet doloribus
                voluptates mollitia aliquid labore odio sit adipisci, aliquam tempore natus error. Deserunt similique
                sit quam esse, dolorum harum provident. Aut.</p>
            <button class="products-list-item-button">
                <!-- <svg>
            <use href=""></use>
        </svg> -->
            </button>
        </li>
        <li class="products-list-item">
            <!-- <picture>
                <source srcset="">
                <source srcset="">
                </picture> -->
            <h4 class="products-list-item-title">ICE COFFEE</h4>
            <p class="products-list-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusamus
                quasi reiciendis possimus vel aspernatur neque inventore consectetur adipisci! Nemo dolorum explicabo
                minus quos quisquam consectetur animi culpa tempore harum.</p>
            <button class="products-list-item-button">
                <!-- <svg>
            <use href=""></use>
        </svg> -->
            </button>
        </li>
        <li class="products-list-item">
            <!-- <picture>
                <source srcset="">
                <source srcset="">
                </picture> -->
            <h4 class="products-list-item-title">MILKSHAKES</h4>
            <p class="products-list-item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus
                perspiciatis consequuntur est maiores reiciendis velit dolor fugiat eligendi sed neque expedita quaerat
                laudantium, iste aliquid quia voluptates tempora cupiditate. Ea.</p>
            <button class="products-list-item-button">
                <!-- <svg>
            <use href=""></use>
        </svg> -->
            </button>
        </li>
    </ul>
</section>
