<section class="slider">
  <div class="container">
    <h1 class="visually-hidden">slider</h1>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <!-- перший слайд -->
        <div class="swiper-slide">
          <picture>
            <source srcset="
            /assets/img/mobile/1x/slider/girl1-mob-1x.webp 1x, 
            /assets/img/mobile/2x/slider/girl1-mob-2x.webp 2x" media="(min-width: 320px)">
            <img class="img-slide" src="/assets/img/mobile/1x/slider/girl1-mob-1x.webp" alt="">
          </picture>
          <div class="card-icecream">
            <p class="card-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus
            </p>
          </div>
          <div class="card-divider">
            <span class="divider-item"></span>
            <span class="divider-item"></span>
            <span class="divider-item"></span>
          </div>
          <p class="carousel-text">Emily, Los Angeles</p>
        </div>
        <!-- другий слайд -->
        <div class="swiper-slide">
          <picture>
            <source srcset="
            /assets/img/mobile/1x/slider/girl2-mob-1x.webp 1x, 
            /assets/img/mobile/2x/slider/girl2-mob-2x.webp 2x" media="(min-width: 320px)">
            <img class="img-slide" src="/assets/img/mobile/1x/slider/girl2-mob-1x.webp" alt="">
          </picture>
          <div class="card-icecream">
            <p class="card-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus
            </p>
          </div>
          <div class="card-divider">
            <span class="divider-item"></span>
            <span class="divider-item"></span>
            <span class="divider-item"></span>
          </div>
          <p class="carousel-text">Emily, Los Angeles</p>
        </div>
        <!-- третій слайд -->
        <div class="swiper-slide">
          <picture>
            <source srcset="
            /assets/img/mobile/1x/slider/girl3-mob-1x.webp 1x, 
            /assets/img/mobile/2x/slider/girl3-mob-3x.webp 2x" media="(min-width: 320px)">
            <img class="img-slide" src="/assets/img/mobile/1x/slider/girl3-mob-1x.webp" alt="">
          </picture>
          <div class="card-icecream">
            <p class="card-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus
            </p>
          </div>
          <div class="card-divider">
            <span class="divider-item"></span>
            <span class="divider-item"></span>
            <span class="divider-item"></span>
          </div>
          <p class="carousel-text">Emily, Los Angeles</p>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
