.container {
  width: 280px;
  height: 598px;
  position: relative;
}

.pink-background {
  width: 280px;
  height: 485px;
  position: absolute;
  top: 113px;
  background: #ffb8ca;
  border-radius: 24px;
}

.arrow-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 120px;
  top: 517px;
  animation: rotate-arrow 2s linear infinite;
}

.main-image {
  width: 249px;
  height: 252px;
  position: absolute;
  top: 0px;
  left: 16px;
}

.text-title {
  width: 174px;
  height: 23px;
  position: absolute;
  left: 53px;
  top: 274px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.text-description {
  width: 200px;
  height: 124px;
  position: absolute;
  left: 41px;
  top: 363px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  line-height: 21.28px;
  letter-spacing: 0.56px;
}

.dots {
  width: 26px;
  height: 6px;
  position: absolute;
  left: 127px;
  top: 327px;
}

.dot {
  width: 6px;
  height: 6px;
  position: absolute;
  background: rgb(116, 188, 224);
  border-radius: 9999px;
}

.dot:nth-child(1) {
  left: 0px;
}
.dot:nth-child(2) {
  left: 10px;
}
.dot:nth-child(3) {
  left: 20px;
}

@keyframes rotate-arrow {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
