.sec1_comments {
  width: 220px;
  padding: 43px 20px;
}

.mainh3_comments {
  background-color: #f0d1a5;
  color: white;
  text-align: center;
  width: 80px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.mainh3_chicago {
  margin-bottom: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;

  color: #000000;
}

.mainh3_p1 {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
  margin-bottom: 25px;
}

.mainh3_p2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  color: #000000;
}

.mainh3_p3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  color: #ffa5ba;
}

.mainh3_div {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.mainh3_contacts {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;

  text-decoration: none;
}

.sec2_comments {
  width: 220px;
  padding: 43px 20px;
}

.secondh3_title {
  background-color: #c2e297;
  color: #ffffff;
  width: 130px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.secondh3_Losangeles {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;

  color: #000000;
  margin-bottom: 10px;
}

.secondh3_p1 {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
  margin-bottom: 25px;
}

.secondh3_p2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  color: #000000;
}

.secondh3_p3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  color: #ffa5ba;
}

.secondh3_div {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.secondh3_contacts {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;

  text-decoration: none;
}

.sec3_comments {
  width: 220px;
  padding: 43px 20px;
}

.thirdh3_title {
  width: 80px;
  margin-bottom: 25px;
  background-color: #f0d1a5;
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.thirdh3_Newyork {
  margin-bottom: 10px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;

  color: #000000;
}

.thirdh3_p1 {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
}

.thirdh3_div {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.thirdh3_p2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  color: #000000;
}

.thirdh3_p3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  color: #ffa5ba;
}
.thirdh3_contacts {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
  text-decoration: none;
}

.mainsection_comments{
  background: rgb(255,165,186);
background: linear-gradient(0deg, rgba(255,165,186,1) 80%, rgba(255,255,255,1) 82%);
}

.sec1_comments{
  background-color: white;
  border: 1px solid #E1E1E1;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  margin-bottom: 21px;

}

.sec2_comments{
    background-color: white;
  border: 1px solid #E1E1E1;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  margin-bottom: 21px;
}

.sec3_comments{
    background-color: white;
  border: 1px solid #E1E1E1;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  margin-bottom: 21px;
}

// .comments_list{

//   @media (min-width: 768px) {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

// //   @media (min-width: 1200px) {
    
// //   }
// // }




