.sec1_comments {
  width: 220px;
  padding: 43px 20px;
}

.mainh3_comments {
  background-color: #f0d1a5;
  color: white;
  text-align: center;
  width: 80px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.mainh3_chicago {
  margin-bottom: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;

  color: #000000;
}

.mainh3_p1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
}

.mainh3_p2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  color: #000000;
}

.mainh3_p3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  color: #ffa5ba;
}

.mainh3_div {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.mainh3_contacts {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;

  text-decoration: none;
}

.sec2_comments {
  width: 220px;
  padding: 43px 20px;
}

.secondh3_title {
  background-color: #c2e297;
  color: #ffffff;
  width: 130px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.secondh3_Losangeles {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;

  color: #000000;
  margin-bottom: 10px;
}

.secondh3_p1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
}

.secondh3_p2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  color: #000000;
}

.secondh3_p3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  color: #ffa5ba;
}

.secondh3_div {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.secondh3_contacts {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;

  text-decoration: none;
}

.sec3_comments {
  width: 220px;
  padding: 43px 20px;
}

.thirdh3_title {
  width: 80px;
  margin-bottom: 25px;
  background-color: #f0d1a5;
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.thirdh3_Newyork {
  margin-bottom: 10px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  letter-spacing: 0.04em;

  color: #000000;
}

.thirdh3_p1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
}

.thirdh3_div {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.thirdh3_p2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  color: #000000;
}

.thirdh3_p3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  color: #ffa5ba;
}
.thirdh3_contacts {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
  text-decoration: none;
}

.mainsection_comments {
  background: rgb(255, 165, 186);
  background: linear-gradient(
    0deg,
    rgba(255, 245, 246, 80%),
    rgba(255, 255, 255, 1) 82%
  );
  padding-bottom: 115px;
  padding-top: 85px;
}

.sec1_comments {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.sec2_comments {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.sec3_comments {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}
.comments_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 760px) {
    flex-direction: row;
  }
}
.button-comment {
  width: 160px;
  height: 45px;
  border-radius: 22px;

  background: rgb(212, 19, 66);
  &:hover,
  :active,
  :focus {
    background: rgb(255, 255, 255);
    & > .text-button-comment {
      color: rgb(212, 20, 67);
    }
    & > .fa-solid.fa-angle-right {
      color: rgb(212, 20, 67);
    }
  }
}
.button-comment.white-button {
  background: rgb(255, 255, 255);
  &:hover,
  :active,
  :focus {
    background: rgb(212, 20, 67);
    & > .text-button-comment {
      color: rgb(255, 255, 255);
    }
    & > .fa-solid.fa-angle-right {
      color: rgb(255, 255, 255);
    }
  }
}
.text-button-comment {
  color: rgb(255, 255, 255);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  margin-right: 10px;
}
.text-button-comment.text-white {
  color: rgb(212, 20, 67);
}
.fa-solid.fa-angle-right {
  color: rgb(255, 255, 255);
}
.fa-solid.fa-angle-right.svg-white {
  color: rgb(212, 20, 67);
}
.button-comment {
  justify-content: center;
  align-items: center;
  display: flex;
  @media screen and (min-width: 760px) {
    width: 190px;
  }
}
.button-comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  @media screen and (min-width: 760px) {
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
  }
  @media screen and (min-width: 1100px) {
    margin-top: 85px;
  }
}
.button-comment-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  // запис функціонує, але занадто великий
  @media screen and (min-width: 760px) {
    &:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 15px;
    }
  }
}
.commentGeneral-item {
  width: 220px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 760px) {
    &:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1100px) {
    width: 330px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
// @media screen and (min-width: 760px){}
// @media screen and (min-width: 1100px){}
.cafeshka-h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 760px) {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 4%;

    width: 75px;
    height: 30px;
  }
  @media screen and (min-width: 1100px) {
    margin-bottom: 35px;
  }
}
.foodTruck-h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 760px) {
    margin-bottom: 30px;
    width: 140px;
    color: rgb(255, 255, 255);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 4%;

    height: 30px;
  }
  @media screen and (min-width: 1100px) {
    margin-bottom: 35px;
  }
}
.cityGeneral-text {
  @media screen and (min-width: 760px) {
    color: rgb(0, 0, 0);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 4%;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1110px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.loremGeneral-text {
  &::after {
    content: '';
    display: block;
    width: 180px;
    color: rgb(225, 225, 225);
  }
  @media screen and (min-width: 760px) {
    color: rgb(144, 126, 130);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 166%;
    letter-spacing: 0%;
    width: 145px;
  }
  @media screen and (min-width: 1110px) {
    color: rgb(144, 126, 130);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 4%;
    width: 245px;
  }
}
