footer {
  padding-bottom: 25px;
  background-color: rgb(255, 245, 246);
}

.footer-heading {
  margin-bottom: 15px;
  width: 230px;
  height: 40px;
  color: var(--product-iceCream1);
  font-family: 'Titan One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.footerHeading-span {
  width: 200px;
  height: 75px;
  color: rgb(212, 20, 67);
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  margin-bottom: 45px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.mediaList {
  display: flex;
}
.mediaSvg {
  width: 16px;
  height: 16px;
  display: block;
  fill: #fff;
}
.linkSvg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--accent-color2);
  display: block;
  padding: 8px;
}
.mediaItem {
  &:not(:last-child) {
    margin-right: 25px;
  }
}
.mediaDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.textTel {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0%;
}
.linkTel {
  color: var(--accent-color1);
  text-decoration: none;
}
