.content {
  text-align: center;
  color: #d41443;
}

.top {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 1.36px;
  color: pink;
}
.bottom {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  color: #fff5f6;
}

.social-media a {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #e4405f;
  color: white;
}

footer {
  color: black;
  font-size: 14px;
  text-align: center;
}

/* Background color animation */
@keyframes backgroundAnimation {
  from {
    background-color: #fff5f6;
  }
  to {
    background-color: #fea5bb;
  }
}




// modal
.command-button {
  width: 180px;
  height: 44px;
border-radius: 22px;
margin-bottom: 10px;
background: rgb(255, 255, 255);
}

.command-button span {
  width: 83px;
height: 44px;
 color: rgb(212, 20, 67);
font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
}
.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 390px;
  height: 534px;
  background: rgb(255, 245, 246);
  transform: translate(-50%, -50%);
  @media screen and (min-width: 760px){
    width: 643px;
    height: 532px;
  }
  @media screen and (min-width: 1110px){
    width: 598px;
    height: 721px;
  }
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 18px;
  height: 18px;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}

.modal-command{
  margin-top: 10px;
  &::after{
    content: "";
    display: block;
    width: 100%;
    // height: 1px;
    border: 1px solid rgb(225, 225, 225);
  }
}
.block-command{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.logotype-modal{
  width: 100px;
  margin-right: 26px;
}
.command-title{
font-family: DM Sans;
font-size: 14.01px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0px;
text-align: center;
  color: #333333;
}