.content {
  text-align: center;
  color: #d41443;
}

.top {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 1.36px;
  color: pink;
}
 .bottom {
  font-size: 22px;
  margin-right: 200px;
  letter-spacing: 1.26px;
  color: red;
}

.social-media {
list-style: none;
display: flex;
justify-content: flex-end;
padding: 0;
}

.social-media li {
margin-left: 10px;
/* Відстань між іконками */
}


.social-media a {
display: block;
width: 40px;
height: 40px;
background-color: #ddd; /* Temporary background color for icons */
border-radius: 50%;
text-align: center;
line-height: 40px; /* Vertical alignment of the icon */
transition: background-color 0.3s;
fill: #333; /* Default color for SVG icons */
}

.social-media a:hover {
background-color: #ccc; /* Background color for icons on hover */
}

/* Ensure SVG icons are not hidden */
svg {
display: inline-block;
vertical-align: middle;
}
footer {
  color: black;
  font-size: 14px;
  text-align: center;
}

/* Background color animation */
@keyframes backgroundAnimation {
  from {
    background-color: #fff5f6;
  }
  to {
    background-color: #fea5bb;
  }
}
/* Стилі для екранів з шириною менше 600px */
@media (max-width: 600px) {
.social-media {
  justify-content: center;
  flex-wrap: wrap;
}

.social-media li {
  margin: 5px;
}

.social-media a {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.top, .bottom {
  text-align: center;
}
}
