.header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logotype {
  width: 199px;
  height: 50px;
}
.navigation {
  display: none;
  @media screen and (min-width: 1100px) {
    display: block;
  }
}
.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 35px;
}
.item-element {
  height: 21px;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: var(--general-color);
  &:hover {
    color: var(--accent-color1);
  }
}
.burger-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-open {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 30px;
  fill: var(--accent-color1);
  @media screen and (min-width: 1100px) {
    display: none;
  }
}
.button-now {
  display: none;
  @media screen and (min-width: 760px) {
    display: block;
    width: 159px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    background: var(--general-color);
  }
}
.span-now {
  width: 69px;
  height: 44px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: var(--accent-color1);
}