.mob-menu {
  position: fixed;
  top: 0;
  right: 0;

  width: 250px;
  height: 100vh;

  padding: 27px 20px 0px 20px;
  z-index: 1;
  background: var(--mobile-menu-background);
  transform: translate(0);
  transition: transform 550ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.mob-menu__button--open {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 30px;
}
.mobile-menu-close {
  width: 14px;
  height: 14px;
  fill: var(--general-color);
}

.mob-menu.is-hidden {
  transform: translate(100%);
  transition: transform 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.mob-menu__button--close {
  display: block;
  margin-left: 185px;
  margin-bottom: 23px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.button-mobile-menu-buynow {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
  background: var(--general-color);
  margin-bottom: 20px;
  @media screen and (min-width: 760px) {
    width: 186px;
  }
}
.button-mobile-menu-text {
  width: 80px;
  height: 44px;
  color: rgb(212, 20, 67);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
.mobile-menu-list-item:not(:last-child){
    margin-bottom: 12px;
}
.mobile-menu-list-item-link {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  color: var(--general-color);
  &:hover{
    color: rgb(212, 20, 67);
  }
}
.mobile-menu-list-item{
    &::before{
        content: "";
        display: block;
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid var(--element-menu);
    }
}
.link-element{
    &::after{
        content: "";
        display: block;
        width: 100%;
        margin-top: 10px;
        border: 1px solid var(--element-menu);
    }
}