.command-button {
  width: 180px;
  height: 44px;
  border-radius: 22px;
  margin-bottom: 10px;
  background-color: var(--accent-color1);
}
.command-button span {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  color: var(--general-color);
}
.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #00000080;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 390px;
  height: 534px;
  background: var(--background-proccess-color);
  transform: translate(-50%, -50%);
  @media screen and (min-width: 760px) {
    width: 643px;
    height: 532px;
  }
  @media screen and (min-width: 1110px) {
    width: 898px;
    height: 521px;
  }
}
.modal-command {
  margin-top: 10px;
  margin-bottom: 15px;
  &::after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid var(--color);
  }
  @media screen and (min-width: 760px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1110px) {
    margin-bottom: 90px;
  }
}
.wrapper-command {
  width: 290px;
  margin: 0 auto;
  @media screen and (min-width: 760px) {
    width: 520px;
  }
  @media screen and (min-width: 1110px) {
    width: 790px;
  }
}
.block-command {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.logotype-modal {
  width: 100px;
}
.command-title {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: var(--color-blackvariation1);
}
.button {
  width: 18;
  height: 18;
  background: var(--background-proccess-color);
}
.command-close {
  width: 18px;
  height: 18px;
}
.block-list-command {
  width: 390px;
  margin: 0 auto;
  @media screen and (min-width: 760px) {
    margin: 0 auto;
    width: 520px;
  }
  @media screen and (min-width: 1110px) {
    width: 790px;
  }
}
.list-command {
  @media screen and (min-width: 760px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 10px;
    margin-bottom: 170px;
  }
  @media screen and (min-width: 1110px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-bottom: 170px;
  }
}
.item-command {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: 760px) {
      margin-bottom: 0;
    }
  }
}
.command-default {
  display: none;
  @media screen and (min-width: 760px) {
    display: flex;
  }
}
.command-img {
  width: 35px;
  height: 35px;
  margin: 8px 8px 0px 0px;
}
.command-name {
  font-family: 'Cambria';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;

  margin-left: -50%;
  color: var(--color-blackvariation1);
}
.command-text {
  width: 216px;
  font-family: 'Cambria';
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--color-greyvariaton1);
}
.command-div {
  margin-top: 10px;
  &::before {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid var(--color);
  }
  @media screen and (min-width: 760px) {
    margin-top: 0;
  }
}
.command-p {
  width: 180px;
  height: 20px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 186%;
  margin: 0 auto;
  margin-top: 5px;
  color: var(--color-greyvariaton2);
  @media screen and (min-width: 1110px) {
    margin-top: 10px;
  }
}
.forModal-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
