.process {
  padding-top: 125px;
  padding-bottom: 97px;
  background-color: var(--background-proccess-color);
  background-image: url('../../assets/img/mobile/1x/process/milk-spot-mob-1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../assets/img/mobile/2x/process/milk-spot.webp');
  }

  @media screen and (min-width: 1110px) {
    background-image: url('../../assets/img/desktop/1x/process/milk-spot-comp-1x.webp');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../assets/img/desktop/2x/process/milk-spot-comp-2x.webp');
    }
  }
}
.title-process {
  width: 198px;
  height: 21px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 15px;
  color: var(--accent-color2);
  @media screen and (min-width: 760px) {
    width: 285px;
    height: 30px;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1110px) {
    width: 351px;
    height: 34px;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 4%;
  }
}
.title-made {
  width: 200px;
  height: 76px;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 4%;
  text-align: center;
  color: var(--accent-color1);
  @media screen and (min-width: 760px) {
    width: 429px;
    height: 55px;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1110px) {
    width: 534px;
    height: 66px;
    font-size: 58px;
    line-height: 66px;
  }
}
.block-process {
  @media screen and (min-width: 760px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1110px) {
    margin-bottom: 46px;
  }
}
.img-cow {
  margin-bottom: 46px;
  @media screen and (min-width: 760px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1110px) {
    margin-right: 75px;
  }
}
.text-tradition {
  width: 265px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 800;
  line-height: 162%;
  margin: 0 auto;
  margin-bottom: 47px;
  color: var(--special-color);
  @media screen and (min-width: 760px) {
    width: 340px;
    margin: 0;
  }
  @media screen and (min-width: 1110px) {
    width: 465px;
    font-size: 17px;
    margin-bottom: 35px;
  }
}
.tradition-information {
  width: 260px;
  font-family: DM Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 162%;
  margin-left: 12px;
  margin-bottom: 15px;
  color: var(--color-greyvariaton2);
  @media screen and (min-width: 760px) {
    width: 340px;
    font-size: 14px;
    line-height: 176%;
    margin-left: 0;
  }
  @media screen and (min-width: 1110px) {
    width: 463px;
    line-height: 194%;
  }
}
.text-trad-inform {
  width: 250px;
  margin-bottom: 45px;
  @media screen and (min-width: 760px) {
    width: 280px;
    margin-bottom: 62px;
  }
  @media screen and (min-width: 1110px) {
    margin-bottom: 45px;
  }
}
.button-tradition {
  width: 196px;
  height: 46px;
  border-radius: 22px;
  margin-left: 12px;
  margin-bottom: 39px;
  cursor: pointer;
  background: var(--general-color);
  &:hover {
    background-color: var(--accent-color1);
  }
  &:hover span {
    color: var(--general-color);
  }
  @media screen and (min-width: 760px) {
    margin-left: 0;
  }
}
.tradition-span {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: var(--accent-color1);
}
.list-tradition {
  @media screen and (min-width: 760px) {
    display: flex;
  }
}
.item-tradition:not(:last-child) {
  margin-bottom: 38px;
  @media screen and (min-width: 760px) {
    margin-right: 60px;
    margin-bottom: 0;
  }
}
.numder-tradition {
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--accent-color1);
  @media screen and (min-width: 760px) {
    width: 147px;
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1110px) {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 15px;
  }
}
.item-one::before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(/assets/img/mobile/1x/process/item-process1-mob-1x.webp);
  background-repeat: no-repeat;
  @media screen and (min-width: 760px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1110px) {
    margin-bottom: 40px;
  }
}
.item-two {
  &::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url(/assets/img/mobile/1x/process/item-process2-mob-1x.webp);
    background-repeat: no-repeat;
    @media screen and (min-width: 760px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1110px) {
      margin-bottom: 40px;
    }
  }
}
.item-three {
  &::before {
    content: '';
    display: block;
    width: 44px;
    height: 50px;
    margin-bottom: 16px;
    background-image: url(/assets/img/mobile/1x/process/item-process3-mob-1x.webp);
    background-repeat: no-repeat;
    @media screen and (min-width: 760px) {
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1110px) {
      margin-bottom: 40px;
    }
  }
}
.tradition-elements {
  width: 230px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 170%;
  color: var(--special-color);
  @media screen and (min-width: 760px) {
    width: 180px;
    font-size: 14px;
    line-height: 174%;
  }
  @media screen and (min-width: 1110px) {
    width: 330px;
    font-size: 16px;
    line-height: 176%;
  }
}
