$sec-process-bg-color: rgb(255, 245, 246);
$pr-main-heading-color: rgb(212, 20, 67);
$text-color-black: rgb(0, 0, 0);

@mixin desc-header($pr-main-heading-color) {
  color: $pr-main-heading-color;
  font-family: 'Titan One', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
@mixin desc-text($text-color-black) {
  color: $text-color-black;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: left;
}

.section-process {
  /* Rectangle 14 */
  position: relative;
  padding-top: 98px;
  padding-bottom: 97px;
  // width: 320px;
  // height: 1688px;
  // left: 0;
  // right: 0;

  background: $sec-process-bg-color;

  .h3 {
    color: rgb(255, 165, 186);
    font-family: 'Titan One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      width: 285px;

      font-size: 26px;
      line-height: 30px;
    }
  }

  .h2 {
    color: $pr-main-heading-color;
    font-family: 'Titan One', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }

  .process-heading {
    display: block;
    position: relative;
    width: 200px;
    height: 112px;
    margin: 0 auto;
    // top: 125px;
    margin-bottom: 26px;
    // margin-top: 125px;
    @media (min-width: 768px) {
      width: 429px;
      margin: 0 auto;
    }

    .h2 {
      position: absolute;
      line-height: 39px;
      text-align: center;
      font-size: 34px;
      margin: 0;
      bottom: 0;
      @media (min-width: 768px) {
        width: 429px;
        margin: 0 auto;

        color: rgb(212, 20, 67);
        font-family: Titan One;
        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 4%;
        text-transform: uppercase;
        // @include desc-header($pr-main-heading-color);
        text-align: center;
      }
      // width: 200px;
    }
    .h3 {
      position: absolute;
      top: 0;
      margin: 0;
      @media (min-width: 768px) {
        width: 429px;
        margin: 0 auto;
      }
    }
  }
  .process-flex {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  .div-home-pic4 {
    display: block;

    width: 280px;
    height: 279px;
    background: url(../../assets/img/mobile/1x/process/cow-mob-1x.webp);
    background-position: center;
    @media (min-width: 768px) {
      display: flex;
      background: url(../../assets/img/tablet/1x/process/cow-tab-1x.webp);
      width: 340px;
      height: 339px;

      margin-right: 20px;
    }
  }

  // .bg-home-pic4 {
  //   display: block;
  //   position: relative;
  //   width: 280px;
  //   height: 279px;
  //   margin: 0 auto;
  //   top: 26px;

  //   background-size: cover;
  // }
  .text-1 {
    display: flex;
    width: 220px;
    height: 79px;

    color: rgb(0, 0, 0);
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0%;
    text-align: left;

    margin: 0 auto;
    margin-top: 46px;

    @media (min-width: 768px) {
      width: 340px;
      font-size: 14px;
      line-height: 176%;
      text-align: left;
    }
  }
  .text-2 {
    position: relative;
    width: 220px;
    height: 155px;

    color: rgb(144, 126, 130);
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0%;
    text-align: left;

    margin: 0 auto;
    margin-top: 47px;

    @media (min-width: 768px) {
      width: 340px;
      font-size: 14px;
      line-height: 176%;
      letter-spacing: 4%;
    }
  }

  .button-rectangle-1 {
    display: block;

    /* Rectangle 1 */
    position: relative;
    width: 176px;
    height: 44px;

    border-radius: 22px;
    background: rgb(255, 255, 255);

    margin: 0 auto;
    margin-top: 47px;

    &:hover {
      background: rgb(236, 235, 235);
    }

    @media (min-width: 768px) {
      margin-left: 0;
    }
    .button-group {
      /* Group 2 */
      position: relative;
      width: 101.04px;
      height: 44px;
      margin: 0 auto;

      button {
        display: block;
        position: absolute;

        width: 83px;
        height: 44px;

        color: rgb(212, 20, 67);
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
        border-width: 0;
        background: rgb(255, 255, 255);

        margin: 0 auto;
        left: 0;
        padding: 0;

        p {
          &:hover {
            color: rgb(212, 20, 67);
            text-decoration: underline !important;
            // без !important - підкреслення не слухається стилів
          }
          &:visited {
            color: rgb(212, 20, 67);
          }
        }
      }
      .button-arrow {
        position: absolute;
        right: 0;
        margin-top: 18px;
      }
    }
  }

  .desc-group {
    display: block;
    position: relative;
    width: 230px;
    height: 156px;

    @media (min-width: 768px) {
      width: 180px;
      height: 226px;
      bottom: auto;
    }

    margin: 0 auto;
    &.desc-group > .desc-group-h2 {
      @include desc-header($pr-main-heading-color);
      width: 98px;
      height: 56px;
      margin: 0;
      margin-top: 16px;

      @media (min-width: 768px) {
        width: 98px;
        height: 56px;

        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 4%;
      }
    }
    &.desc-group > .desc-group-text {
      @include desc-text($text-color-black);
      width: 230px;
      height: 36px;
      position: absolute;
      margin: 0;
      bottom: 0;

      @media (min-width: 768px) {
        width: 180px;
        height: 71px;

        bottom: auto;
        font-size: 14px;
        font-weight: 700;
        line-height: 174%;
        letter-spacing: 0%;

        margin-top: 38px;
      }
    }
    &#one {
      margin-top: 39px;

      .div {
        display: block;
        width: 33px;
        height: 50px;
        background-image: url(../../assets/img/mobile/1x/process/1item-process-mob-1x.webp);
      }
    }

    &#two {
      margin-top: 38px;

      .div {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(../../assets/img/mobile/1x/process/2item-process-mob-1x.webp);
      }
    }
    &#three {
      margin-top: 38px;

      .div {
        display: block;
        width: 44px;
        height: 50px;
        background-image: url(../../assets/img/mobile/1x/process/3item-process-mob-1x.webp);
      }
    }
  }
  .desc-main {
    @media (min-width: 768px) {
      margin-top: 66px;
      display: flex;
      justify-content: center;
    }
  }
  .bg-image {
    display: flex;
    // justify-self: center;
    position: absolute;
    width: 320px;
    height: 133px;
    background-image: url(../../assets/img/mobile/1x/process/milk-spot-mob-1x.webp);
    top: 0;
    left: 33%;
  }
}
