.products-subtitle
{
    width: 142px;
    height: 21px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-items: center;
    margin: 121px auto 15px;

    color: var(--accent-color2);
font-family: Titan One;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;



@media screen and (min-width:768px){
    width: 205px;
    height: 30px;
}

@media screen and (min-width:1200px){
    width: 249px;
    height: 34px;
}

}


.products-title{

    width: 200px;
    height: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-items: center;
    margin: 0 auto;
    color: var(--accent-color1);
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 4%;;
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 141px;

    @media screen and (min-width:768px){
        margin-bottom: 150px;
        width: 283px;
        height: 55px;

    }
    
    @media screen and (min-width:1200px){
        margin-bottom: 259px;
        width: 350px;
        height: 66px;
    }
}




.products-list{
display: flex;
flex-direction: column;

@media screen and (min-width:768px){

padding: 0px 36px;
display: flex;
flex-direction: row;
}

@media screen and (min-width:1200px){
    padding: 0px 117px;
    display: flex;
    flex-direction: row;
}

}


.products-list-item{
position: relative;

width: 280px;
height: 485px;
border-radius: 24px;
margin: 0 auto;
padding-top: 161px;
justify-items: center;
align-items: center;
@media screen and (min-width:1200px){
    width: 329px;
    height: 525px;
}

}
.products-list-item:not(:last-child){
    margin-bottom: 129px;
}

.products-list-item:not(:first-child){
    @media screen and (min-width:768px){
        margin-left: 20px;
        
            }
            
            @media screen and (min-width:1200px){
                margin-left: 30px;
            }
}

.item1{
background-color: var(--product-iceCream1);
position: relative;
}

.item2{
    background-color: var(--product-iceCream2);
    position: relative;
    }

.item3{
    background-color: var(--product-iceCream3);
    position: relative;
}

.iceCream1{

position: absolute;
top: -25%;
left: 50%;
transform: translateX( -50%);
        @media screen and (min-width:1200px){
            top: -40%;
        }
}

.iceCream2{
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX( -50%);
    @media screen and (min-width:1200px){
        top: -40%;
    }
}

.iceCream3{
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX( -50%);
    @media screen and (min-width:1200px){
        top: -40%;
    }
}


.products-list-item-title{
    width: 174px;
    height: 23px;
    margin: 0 auto;

    color: var(--general-color);
font-family: Titan One;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 4%;
text-align: center;
text-transform: uppercase;

@media screen and (min-width:768px){
    width: 199px;
    height: 23px;
    
        }
        
        @media screen and (min-width:1200px){
            width: 209px;
            height: 34px;
        }
}

.products-list-item-text{
    width: 200px;
    height: 124px;
    color:  var(--general-color);
font-family: DM Sans;
font-size: 14px;
font-weight: 700;
line-height: 152%;
letter-spacing: 4%;
text-align: center;
margin: 0 auto;
margin-top: 30px;
@media screen and (min-width:768px){
    width: 198px;
    height: 124px;
    
        }
        
        @media screen and (min-width:1200px){
            width: 241px;
            height: 106px;
            margin-top: 32px;
        }
}

.products-list-item-button-svg{
fill: var(--accent-color1);
width: 20px;
height: 20px;
margin: 0 auto;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.products-list-item-button
{
border-radius: 50%;
color: var(--general-color);
width: 40px;
height: 40px;
margin: 0 auto;
display: flex;
position: relative;
bottom: -41px;
@media screen and (min-width:1200px){
    bottom: -71px;
}


}
.products-list-item-subtitle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: var(--general-color);
    font-size: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-bottom: 30px;
    
    @media screen and (min-width:768px){
    
        font-size: 50px
    }
    
    @media screen and (min-width:1200px){
        font-size: 70px;
    
    }

}

.products-list-item-subtitle-container{

width: 40px;
height: 10px;
margin: 0 auto;
justify-content: center;
align-items: center;
flex-direction: row;
margin-top: 15px;
margin-bottom: 30px;
display: flex;

}

