.slider{
    padding: 80px 0;
}
.swiper{
    justify-content: center;
    margin: 0 auto;
}
.card-icecream{
    margin: 0 auto;
}
.card-text{
    width: 157px;
height: 239px;
font-family: DM Sans;
font-size: 12px;
font-weight: 500;
line-height: 255%;
text-align: center;
    color: rgb(0, 0, 0);
}

.carousel-text{
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 186%;
text-align: center;
margin-bottom: 30px;
    color: rgb(0, 0, 0);
}