body {
  background-color: #fff5f6; /* Single background color */
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  animation: backgroundAnimation 5s infinite alternate;
}

.content {
  text-align: center;
  color: #d41443;
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 1.36px;
}
h2 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.26px;
}

.social-media a {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #e4405f;
  color: white;
}

footer {
  color: #907e82;
  font-size: 14px;
  text-align: center;
}

/* Background color animation */
@keyframes backgroundAnimation {
  from {
    background-color: #fff5f6;
  }
  to {
    background-color: #fea5bb;
  }
}
